<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.blog.dao.BlogDao">
 
 
 <!-- A query was run and no Result Maps were found for the Mapped Statement 'com.biz.blog.dao.BlogDao.selectAll'.
 오류란??????
 select 명령에 resulttype이 빠진 경우  -->
 	<select id="selectAll" resultType="BlogVO">
 		
 		select * from tbl_blogs
 		order by bl_date desc, bl_time desc
 	</select>
 		
 		
 	<select id="findById"></select>
 	
 	<!-- resultType: 어떤 타입으로 데이터를 return 할 것인가  -->
 	<select id="findBySeq" resultType="BlogVO">
 		select * from tbl_blogs
 		where bl_seq = #{seq}
 		
 		</select>
 	
 	<!-- 파라미터타입 : 어떤 타입으로 데이터를 주입할 것인가  -->
 	<insert id="insert" parameterType="BlogVO">
 		insert into tbl_blogs(
 		BL_SEQ,
		BL_USER,
		BL_DATE,
		BL_TIME,
		BL_TITLE,
		BL_CONTENTS
	) values (
		seq_blog.NEXTVAL,
		#{bl_user},
		#{bl_date},
		#{bl_time},
		#{bl_title},
		#{bl_contents}
)
 		
 		
 	 		
 	</insert>
 	<update id="update" parameterType ="BlogVO">
 		update tbl_blog SET
 			bl_user = #{bl_user},
 			bl_date = #{bl_date},
 			bl_time = #{bl_time},
 			bl_title = #{bl_title},
 			bl_contents = #{bl_contents}
 		where bl_seq = #{bl_seq}	
 			
 			
 			</update>
 	<delete id="delete">
 		delete from tbl_blogs where bl_seq = #{seq}
 		</delete>
 
 </mapper> 